<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="airbnb-footer">
    <div class="footer-top">
        <div class="footer-column">
            <h6>Support</h6>
            <a href="#">Help Center</a>
            <a href="#">Safety Information</a>
            <a href="#">Cancellation Options</a>
        </div>

        <div class="footer-column">
            <h6>Hosting</h6>
            <a href="#">Become a Host</a>
            <a href="#">Host Resources</a>
            <a href="#">Community Forum</a>
        </div>

        <div class="footer-column">
            <h6>Wanderlust</h6>
            <a href="#">About Us</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <hr>

    <div class="footer-bottom">
        <div class="footer-left">
            © 2026 Wanderlust · Privacy · Terms · Sitemap
        </div>

        <div class="footer-right">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>