<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/stylesheets/new.css">

    <div class="form-container">

        <h1>Create New Listing</h1>

        <form action="/listings" method="POST" novalidate class="needs-validation listing-form" enctype="multipart/form-data">

            <input 
                type="text" 
                name="title" 
                placeholder="Title"
                class="form-control"
                required
            >

            <textarea 
                name="description" 
                placeholder="Description"
                class="form-control"
                required
            ></textarea>

            <div class="mb-3">
                <label class="form-label">Category</label>

                <select
                    class="form-select"
                    class="form-control"
                    name="category"
                    required
                >
                    <option value="Rooms">Rooms</option>
                    <option value="Beach">Beach</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Camping">Camping</option>
                    <option value="Castles">Castles</option>
                    <option value="City">City</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Farms">Farms</option>
                    <option value="Desert">Desert</option>
                    <option value="Lake">Lake</option>
                </select>
            </div>

            <label class="form-label">
                Upload Image
            </label>

            <input
                type="file"
                name="image"
                class="form-control"
                required
            >

            <input 
                type="number" 
                name="price" 
                placeholder="Price"
                class="form-control"
                required
            >

            <input 
                type="text" 
                name="location" 
                placeholder="Location"
                class="form-control"
                required
            >

            <input 
                type="text" 
                name="country" 
                placeholder="Country"
                class="form-control"
                required
            >

            <button type="submit">
                Add Listing
            </button>

        </form>

    </div>
